.nav {
  grid-area: n;
  background-color: rgb(35, 33, 33);
}

.item a {
  text-decoration: none;
  padding-left: 10px;

  color: rgb(255, 255, 255);
}

.item a.active {
  color: coral;
}

.itemFriends {
  
  padding: 50px 10px;
  margin-bottom: 50px;
   
}
.itemFriends img {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  margin: 30px 10px 0;
  
}