.header {
  grid-area: h;
  background-color: rgb(142, 138, 138);
 }
 .header img {
   width: 100px;
 }
 .loginBlock {
     float: right;
 }
.loginBlock a {
    color: white;
    text-decoration: none;
}