.dialogs {
    display: grid;
    grid-template-columns: 4fr 10fr;

}

.dialog {
    color: white;
}

.dialogItems {
    padding: 10px;
    color: white;
    text-decoration: none;

}

.dialogItems .active {
    color: coral;
    color: white;
    text-decoration: none;
}



.messages {
    padding: 10px;
    color: white;
}