.dialogs {
  display: grid;
  grid-template-columns: 4fr 10fr;
}

.dialog {
  color: white;
}

.dialogItems {
  padding: 10px;
}

.dialogItems .active {
  color: coral;
}

.messages {
  padding: 10px;
  color: white;
}
